<h1> Welcome to Salary Prediction </h1>
<form action="/submit" target="_self" method="post">
    <label for="age">Age:</label>
    <input type="number" name="age"><br>
    <label for="fnlwgt">Population_Size:</label>
    <input type="number" name="fnlwgt"><br>
    <label for="edu">Education:</label>
    <input type="number" name="edu"><br>
    <label for="cap_g">Capital Gain:</label>
    <input type="number" name="cap_g"><br>
    <label for="cap_l">Capital Loss:</label>
    <input type="number" name="cap_l"><br>
    <label for="hrpw">Hours Per Week:</label>
    <input type="number" name="hrpw"><br>
    <label for="wrkcls">Workclass:</label>
    <input type="number" name="wrkcls"><br>
    <label for="wrkcls_loc">Workclass LocalGov:</label>
    <input type="number" name="wrkcls_loc"><br>
    <label for="wrk_never">Workclas workclass_NeverWorked:</label>
    <input type="name" name="wrk_never"><br>
    <label for="wrk_pvt">WorkClass Private:</label>
    <input type="number" name="wrk_pvt"><br>
    <label for="wrk_self">WorkClass SelfEmployed:</label>
    <input type="number" name="wrk_self"><br>
    <label for="wrk_selfnot">WorkClassSelf Not:</label>
    <input type="number" name="wrk_selfnot"><br>
    <label for="wrk_state">Workclass State Gov:</label>
    <input type="number" name="wrk_state"><br>
    <label for="wrk_w/o_pay">Work Class W/O Pay:</label>
    <input type="number" name="wrk_w/o_pay"><br>
    <label for="ed10th">Education_10th:</label>
    <input type="number" name="ed10th"><br>
    <label for="ed11th"> Education_11th:</label>
    <input type="number" name="ed11th"><br>
    <input type="submit" value="Submit">

</form>
	